@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  root {
    overflow: auto;
  }

  :root:has(.no-document-scroll) {
    overflow: hidden;
  }

  body {
    @apply font-light text-text-light dark:text-text-dark bg-background-light dark:bg-background-dark;
  }

  h1 {
    @apply font-semibold text-5xl sm:text-6xl tracking-wide text-text-light dark:text-text-dark;
  }

  h2 {
    @apply font-normal text-xl md:text-2xl lg:text-3xl leading-tight tracking-wide uppercase text-text-light dark:text-text-dark;
  }

  h3 {
    @apply font-semibold text-lg md:text-xl lg:text-2xl text-text-light dark:text-text-dark;
  }

  h4 {
    @apply font-semibold text-lg text-text-light dark:text-text-dark;
  }
}

@layer utilities {
  .text-label {
    @apply text-xs text-text-light-light dark:text-text-light-dark;
  }

  .header-space {
    margin-top: 102px;
  }

  .rainbow-circle {
    background: conic-gradient(
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );
  }
}
