.grid-examples {
  display: grid;
  gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "gradientCard"
    "imageGradient"
    "imageInfo"
    "chat"
    "inputCard"
    "actionCard"
    "card"
    "placeholder";
}

@media (min-width: 600px) {
  .grid-examples {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "gradientCard imageGradient"
      "imageInfo imageInfo"
      "chat inputCard"
      "actionCard actionCard"
      "card placeholder";
  }
}

@media (min-width: 900px) {
  .grid-examples {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "gradientCard imageGradient imageInfo"
      "chat inputCard placeholder"
      "actionCard actionCard card";
  }
}
